extends ../head.pug

block head
    title Health book - drugs
block content
    body.primary-background
        include menu.pug
        .container
            h4.center Drugs
            table.striped.highlight.responsive-table
                tr
                    th Name
                    th Medication
                    th Pack
                    th EAN 
                    th  
                each drug in drugs
                    tr
                        td  #{drug.name}
                        td  #{drug.medication}
                        td  #{drug.pack}
                        td  #{drug.EAN}
                        td
                            .buttons-container
                                form(action="/admin/drugs", method="post")
                                    input(type="hidden", name="drugId" value=drug.idDsD)
                                    input(type="submit", value="delete").delete.material-icons
                                form(action="/admin/drug-edit", method="get")
                                    input(type="hidden", name="editId" value=drug.idDsD)
                                    input(type="submit", value="border_color").delete.material-icons
            .row
                .col.l12
                    a(href="/admin/add-drug").btn-floating.blue.darken-3.right 
                        i.material-icons add